<div class="mat-card">
    <div class="formation-nom">
        <mat-card-title>Formation {{ formation.nom }} </mat-card-title>
    </div>
    <div class="formation-theme">
        <mat-card-subtitle>Theme {{ formation.theme }}</mat-card-subtitle>
    </div>
    <mat-card-content class="mat-card-content">
        <div class="formation-duree">
            <p> Durée  : {{ (formation.duree/2) }} jours </p>
        </div>
        <div class="formation-date">
            <p> Début de la formation le  {{ formation.date }} </p>
        </div>
        <div *ngIf="details === true">
            <div class="formation-prix">
                <p> Prix {{ formation.prix }} </p>
            </div>
            <div class="formation-prix">
                <p> {{ formation.description }} </p>
            </div>
        </div>
    </mat-card-content>
    <div class="formation-description" *ngIf="details === false">
        <button mat-raised-button color="primary" type="submit" (click)="onConsulterDetail(formation)">Consulter le détail de la formation</button>
    </div>
    <div class="formation-description" *ngIf="details === true">
        <button mat-raised-button color="primary" type="button" (click)="onRetourDetail()">Retour à la liste de formation</button>
        <button mat-fab color="primary" type="button" (click)="onDeleteFormation(formation.id)">
            <i class="material-icons md-18">delete</i>
        </button>
    </div>
</div>
