.footer{
    height: 10vh;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #C2185B;
    padding: 5px;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}