<nav class="footer">
    <div class="plan">
        <h5>Plan du site</h5>
        <a class="nav-link" routerLink="">Accueil</a>
        <a class="nav-link formulaire" routerLink="/formulaireFormation">Formulaire de formation</a>
        <a class="nav-link formation" routerLink="/listeFormation">Liste des formations</a>
    </div>
    <div class="partenaire">
        <h5>Partenaires</h5>
        <p>Ib, x, y, z</p>
    </div>
    <div class="contact">
        <h5>Contact</h5>
        <p> Vous pouvez nous contacter au X.Y@gmail.com</p>
    </div>
</nav>