<div class="formulaire-carte">
    <mat-card class="form-card-container">
        <form class="form-container" [formGroup]="formationForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <h3>Formation</h3>
                <mat-form-field class="nom-formation">
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" formControlName="nom" placeholder="Java débutant">
                </mat-form-field>
                <mat-form-field class="theme-formation">
                    <mat-label>Theme</mat-label>
                    <input matInput type="text" formControlName="theme" placeholder="Développement Web">
                </mat-form-field>
                <mat-form-field class="duree-formation">
                    <mat-label>Duree</mat-label>
                    <input matInput type="number" formControlName="duree" placeholder="X demi-jounrée">
                </mat-form-field>
                <mat-form-field class="prix-formation">
                    <mat-label>Prix</mat-label>
                    <input matInput type="number" formControlName="prix">
                    <span matSuffix>€&nbsp;</span>
                </mat-form-field>
                <mat-form-field class="date-formation">
                    <mat-label>Date</mat-label>
                    <input matInput type="date" formControlName="date">
                </mat-form-field>
                <mat-form-field class="description-formation">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="description" placeholder="Formation portant sur...">
                </mat-form-field>
                <mat-card-actions class="submit">
                    <button mat-raised-button color="primary" type="submit">Ajouter</button>
                </mat-card-actions>
            </div>
        </form>
    </mat-card>
</div>