.formulaire-carte{
    height: 100%;
    display: flex;
    align-items: center;
}
.form-card-container{
    height: 450px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-field{
    display: flex;
    flex-direction: column;
}
mat-label{
    padding-left: 7px;
}
.submit{
    text-align: center;
}

h3{
    color: #C2185B;
    text-align: center;
}